In [3]:
import pandas as pd
import numpy as np

In [4]:
list  = np.arange(3)

In [5]:
list

array([0, 1, 2])

In [6]:
sr1 = pd.Series(list)

In [7]:
sr1

0    0
1    1
2    2
dtype: int32

In [8]:
sr2 = pd.Series(np.arange(3,10))

In [9]:
sr2

0    3
1    4
2    5
3    6
4    7
5    8
6    9
dtype: int32

In [12]:
print(sr1,sr2,)

0    0
1    1
2    2
dtype: int32 0    3
1    4
2    5
3    6
4    7
5    8
6    9
dtype: int32

In [1]:
pd.read_csv('student.csv')

NameError: name 'pd' is not defined

In [5]:
df =  pd.read_csv('student.csv')

In [6]:
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [7]:
df.columns

Index(['Student ID', 'Class', 'Study hrs', 'Sleeping hrs',
       'Social Media usage hrs', 'Mobile Games hrs', 'Percantege'],
      dtype='object')

In [8]:
pd.read_csv('student.csv',nrows=2)

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80

In [10]:
pd.read_csv('student.csv',usecols=[1,2,3])

   Class  Study hrs  Sleeping hrs
0     10          2             9
1     10          6             8
2     10          3             8
3     11          0            10
4     11          4             7
5     11         10             7
6     12          4             6
7     12         10             6
8     12          2             8
9     12          6             9